@font-face {
    font-family: "RobotoRegular";
    src: url(Fontes/Roboto-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "RobotoBold";
    src: url(Fontes/Roboto-Bold.ttf) format("truetype");
}
*{
    margin: 0;
    padding: 0;
}
#container{
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "RobotoRegular";
}
#form-cadastro{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 27vw;
    height: 73%;
    padding: 30px 40px;
    border-radius: 30px 0px 0px 30px;
    
}
#form-titulo{
    font-family: "RobotoBold";
    font-size: 1vw;
    margin-bottom: 1.5em;
    text-align: center;
    color: #FF6645;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.397);
}
fieldset{ border: 0;}

input, select, textarea, button{
    border-radius: 5px;
}
.campo{
    font-size: 1vw;
    margin-bottom: 1em;
    margin-right: 1em;
}
.form-grupo .campo{ float: left;}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.356);
}
.campo input[type="radio"], .campo input[type="checkbox"], label{
    padding-right: 0.5em;
    margin-top: 1em;
}

.campo select, .campo textarea{
    margin-top: 0.5em;
    padding: 0.3em;
    width: 10vw;
}
.campo textarea{
    width: 26vw;
}
.botao{
    font-size: 1.1em;
    padding: 0.3em;
    border: 0;
    background: #FF6645;
    color: aliceblue;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.356);
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 2px;
}
.botao:hover{
    background: #f33c12;
}
.botao, select, input[type="checkbox"], input[type="radio"] { 
    cursor: pointer;
}
.img{
    background-color: rgb(255, 255, 255);
    width: 25vw;
    display: flex;
    height: 73%;
    padding: 30px 40px;
    border-radius: 0px 30px 30px 0px;
}
#imgdesk{
    width: 27vw;
}
#imgmob{
    display: none;
    width: 27vw;
}
@media only screen and (max-width: 1000px) {
    #container{
        flex-direction: column;
        height: 100%;
    }
    #form-titulo{
        font-size: 3.5vw;
    }
    .campo{
        font-size: 3vw;
    }
    #form-cadastro{
        width: 69%;
        height: auto;
        border-radius: 10px 10px 30px 30px;
    }
    .campo select{
        width: 165.6px;
    }
    .campo textarea{
        width: 66vw;
    }
    #imgmob{
        display: block;
        width: 83%;
        border-radius: 0px;
    }
    .img{
        display: none;
    }
    
}
