@font-face {
    font-family: "RobotoRegular";
    src: url(../Fontes/Roboto-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "RobotoBold";
    src: url(../Fontes/Roboto-Bold.ttf) format("truetype");
}
*{
    margin: 0;
    padding: 0;
}
main{
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "RobotoRegular";
}
#form-cadastro{
    display: block;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 30px;
    overflow: hidden;
    
}
#form-cadastro #img{
    display: block;
    background: url(../Imagens/desktop.png) no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    
}
#form-titulo{
    font-family: "RobotoBold";
    font-size: 1vw;
    margin-bottom: 1em;
    text-align: center;
    color: #FF6645;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.397);
}
#geral{
    display: block;
    padding: 15px;
}
fieldset{ border: 0;}

input, select, textarea, button{
    border-radius: 5px;
}
.campo{
    font-size: 1vw;
    margin-bottom: 1em;
}

.form-grupo .campo{ 
    float: left;
    margin-right: 1.7rem;
    
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    font-size: 1vw;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.356);
}
.campo input[type="radio"], .campo input[type="checkbox"], label{
    padding-right: 0.5em;
    margin-top: 1em;
}

.campo select, .campo textarea{
    margin-top: 0.5em;
    padding: 0.3em;
    width: 10vw;
}
.campo textarea{
    width: 26vw;
}
.botao{
    font-size: 1.1em;
    padding: 0.3em;
    border: 0;
    background: #FF6645;
    color: aliceblue;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.356);
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 2px;
    
}
.botao:hover{
    background: #f33c12;
}
.botao, select, input[type="checkbox"], input[type="radio"] { 
    cursor: pointer;
}
#imgdesk{
    border-radius: 0px 30px 30px 0px;
    width: auto;
    height: auto;
}
#imgmob{
    display: none;
}
@media only screen and (max-width: 768px) {
    #container{
        height: auto;
    }
    #form-cadastro{
        width: 81%;
        border-radius:10px;
        padding: 0;
        overflow: hidden;
        margin: 10px 0px 10px 0px;
        
    }
    #form-cadastro #imgmob{
        display: block;
        background: url(Imagens/mobile.png) no-repeat;
        background-size: cover;
        height: 200px;
        width: 100%;
    }
    #geral{
        padding: 15px;
    }
    
    #form-titulo{
        font-size: 5vw;
        
    }
    .campo{
        font-size: 4vw;
                
    }
    .campo input[type="text"], .campo input[type="email"]{
        font-size: 4vw;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.356);
        width: 300px;
        height: 20px;
        padding: 5px;
    }
    .campo select{
        font-size: 3vw;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.356);
        height: 35px;
        padding: 5px;
        width: 200px;
    }
    .campo textarea{
        width: 100%;
        height: 20vh;
    }
    .fonte{
        font-size: 3.7vw;
    }
    #imgdesk{
        display: none;
    }
    
}
